body {
    margin: 0;
    padding: 0;
    background:url(../images/big1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.Login{
    position: absolute;
}